.list-items {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
}
.list-items span {
	flex-grow: 1;
	margin-left: 1.25rem;
	user-select: none;
	cursor: pointer;
}
.important span {
	font-weight: bold;
	color: steelblue;
}
.done span {
	text-decoration: line-through;
}
.list-items button {
	width: 35px;
	margin: 3px;
}
